@page "/add-EducationLevel"
@using Web.Model
@inject HttpClient http
@inject NavigationManager nav

<div class="container-fluid mt-5">

<link href="css/form.css" rel="stylesheet" />

<h3 class="label">Add EducationLevel Level</h3>
<EditForm Model="EducationLevel" OnValidSubmit="SaveEducationLevel">
    <label class="label">Employee</label>
    <input type="text" placeholder="Enter Employee" class="item" @bind-value="EducationLevel.employeeId" />
    <label class ="label">Institution</label>
    <input type="text" placeholder="Enter Institution" class="item" @bind-value="EducationLevel.Institution" />
    <label class="label">Qualification</label>
    <input type="text" placeholder="Enter Qualification" class="item" @bind-value="EducationLevel.Qualification" />
    <label class ="label">Start Year</label>
    <input type="date" placeholder="Enter Start Year " class="item" @bind-value="EducationLevel.StartYear" />
    <label class="label">End Year</label>
    <input type="date" placeholder="Enter End Year " class="item" @bind-value="EducationLevel.EndYear" />


    <button type="submit" class="BUTTON">Save</button>

</EditForm>

</div>
@code 
{
    EducationLevelInputDto EducationLevel = new EducationLevelInputDto();

    public async Task SaveEducationLevel()
    {
        var result = await http.PostAsJsonAsync("/SaveEducationLevel", EducationLevel);
        if (result.IsSuccessStatusCode)
        {
            nav.NavigateTo("/EducationLevel");
        }
    }

}
