body {
}

.item {
    display: block;
    width: 30%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.label {
    color: #007bff;
    
}
.BUTTON {
    color: #fff;
    background-color: #007bff;
    border-radius: .25rem;
    width: 20%;
    border-color: #007bff;
    margin-top: 1rem;

    BUTTON hover {
        background-color: #0069d9;
        border-color: #0062cc;
    }
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;

}
  th {
    text-align: inherit;
    font-size: .9rem;
    font-weight: 700;
    border-top: none;
    padding: .75rem;
    text-transform: uppercase;
    width: fit-content;
}
td {
    padding-top: 1.1rem;
    padding-bottom: 1rem;
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-weight: 700;
}
table tr td, table tr th {
    border: 3px solid #dee2e6
}
